.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 30px;

  // .notification_success
  &_success {
    background-color: lightblue;
    border: 3px solid #3ab8e3;
    box-shadow: 2px 2px 10px 0 #3ab8e3;
  }

  // .notification_error
  &_error {
    background-color: #d95454;
    border: 3px solid #e72e2e;
    box-shadow: 2px 2px 10px 0 #e72e2e;
  }

  // .notification_hidden
  &_hidden {
    transition: all 2s;
    opacity: 0;
    visibility: hidden;
    &:hover {
      transition: all 0s;
      opacity: 1;
      visibility: visible;
    }
  }

  // .notification_visible
  &_visible {
    transition: all 0s;
    opacity: 1;
    visibility: visible;
  }

  // .notification__title
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  // .notification__body
  &__body {
  }
}