.profile {
  position: relative;
  width: 100%;
  height: 100%;

  // .profile__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  // .profile__status
  &__status {
    position: absolute;
    color: green;
    bottom: -3px;
    right: -3px;
  }
}