.profile {
  position: relative;

  // .profile__image-container
  &__image-container {
    width: 100%;
    height: 100%;
  }

  // .profile__image-item
  &__image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  // .profile__status
  &__status {
    position: absolute;
    color: green;
    bottom: -3px;
    right: -3px;
  }
}