@use "../../variables";

.header {
  box-sizing: border-box;
  width: 100%;
  background-color: variables.$mainBackground;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: variables.$border;
  padding: 15px;

  // .header__profile
  &__profile {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  // .header__search
  &__search {
    position: relative;
    font-size: 18px;
  }

  // .header__search-icon
  &__search-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: variables.$incomingBackground;
    opacity: 0.4;
    left: 15px;
  }

  // .header__search-input
  &__search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 8px 8px 48px;
    font-size: 18px;
    border: variables.$border;
    border-radius: 20px;
    &::placeholder {
      color: variables.$incomingBackground;
    }
  }
}
