@use "../../variables";

.header {
  // .header__container
  &__container {
    width: 100%;
    height: 150px;
    background-color: variables.$mainBackground;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: variables.$border;
    & > *{
      margin: 15px;
    }
  }

  // .header__profile
  &__profile {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  // .header__search
  &__search {
    position: relative;
    font-size: 18px;
  }

  // .header__search-icon
  &__search-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: variables.$incomingBackground;
    opacity: 0.4;
    left: 15px;
  }

  // .header__search-input
  &__search-input {
    width: calc(100% - 52px);
    height: 40px;
    padding-left: 48px;
    font-size: 18px;
    border: variables.$border;
    border-radius: 20px;
    &::placeholder {
      color: variables.$incomingBackground;
    }
  }
}
