@use "variables";

.app {
  display: flex;

  // .app__left
  &__left {
    display: flex;
    flex-direction: column;
    border-right: variables.$border;
    width: 35%;
    height: 100vh;
  }

  // .app__right
  &__right {
    width: 65%;
    height: 100vh;
    background-color: variables.$secondaryBackground;
  }

  // .app__notification
  &__notification {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}