@use "variables";

.app {
  display: flex;
  // .app__left
  &__left {
    border-right: variables.$border;
    width: 35%;
    height: 100vh;
  }

  // .app__right
  &__right {
    z-index: 1;
    width: 65%;
    height: 100vh;
    background-color: variables.$secondaryBackground;
  }

  &__notification {
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}