$mainBackground: #F5F5F5;
$secondaryBackground: #FAFAFA;
$incomingBackground: #3B4253;
$outcomingBackground: #E0E0E0;
$border: 2px solid #E0E0E0;

@mixin smaller_1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin scrollBar {
  overflow: scroll;
  overflow-x:hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $incomingBackground;
  }
}