$mainBackground: #F5F5F5;
$secondaryBackground: #FAFAFA;
$incomingBackground: #3B4253;
$outcomingBackground: #E0E0E0;
$border: 2px solid #E0E0E0;
//@mixin border() {
//  border: 1px solid #E0E0E0;
//}
